body{
    display: flex;
    flex-direction: column;
}

#centro{
    display: flex;
}

aside{
    align-self: flex-start;
}

main section h2{
    font-size: 50px;
    color: navy;
    text-align: center;
    text-decoration: underline;
}

main h3{
    font-size: 30px;
    color: dodgerblue;
}

#martin img,
#cielo img,
#relatos img{
    float: right;
}

#martin,
#cielo,
#relatos{
    padding-bottom: 100px;
    margin-bottom: 100px;
}


main section ul{
    list-style: none;
}

main{
    border: 3px;
    border-style: solid;
    border-color: dodgerblue;
    background-color: silver;
}

#cabecera{
    color: dodgerblue;
}

#cabecera > img{
    float: left;
    margin: 20px;
    margin-top: 0px;
}

section{
    clear: both;
}

#cabecera > h1{
    font-size: 60px;
    margin: 20px;
    margin-top: 70px;
}

#cabecera > p{
    font-size: 20px;
    margin: 10px;
}

#paginas_indice{
    background-color: silver;
    border-width: 3px;
    border-color: dodgerblue;
    border-style: solid;
}

#paginas_indice ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#paginas_indice li{
    float: left;
}

li a{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

#rankings{
    border: 3px;
    border-style: solid;
    border-color: dodgerblue;
    background-color: silver;
}

#pie{
    display: flex;
    justify-content: space-between;
    background-color: silver;
    border-width: 3px;
    border-color: dodgerblue;
    border-style: solid;
}

#pie ul{
    list-style: none;
}

#pie strong{
    font-size: 20px;
}

#pie .ciudad{
    padding: 10px;
    padding-top: 20px;
    color: dodgerblue;

}

#pie li > ul{
    color: dodgerblue;
}
