body{
    display: flex;
    flex-direction: column;
    font-size: 125%;
}

.centro{
    display: flex;
}

aside{
    align-self: flex-start;
    width: 20%;
    font-size: 130%;
    color: blue;
}

main{
    width: 80%;
}

aside div{
    margin: 30px;
}

aside ol{
    font-size: 70%;
    color: dodgerblue;
}

#cabecera{
    color: dodgerblue;
}

#cabecera > img{
    float: left;
    margin: 20px;
    margin-top: 0px;
}

section,
#cabecera::after{
    clear: both;
}

#cabecera > h1{
    font-size: 60px;
    margin: 20px;
    margin-top: 70px;
}

#cabecera > p{
    font-size: 20px;
    margin: 10px;
}

#paginas_indice{
    background-color: silver;
    border-width: 3px;
    border-color: dodgerblue;
    border-style: solid;
}

#paginas_indice ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 110%;
}

#paginas_indice li{
    float: left;
}

#paginas_indice::after{
    clear: both;
}

li a{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

#rankings{
    border: 3px;
    border-style: solid;
    border-color: dodgerblue;
    background-color: silver;
}

#pie{
    display: flex;
    justify-content: space-between;
    background-color: silver;
    border-width: 3px;
    border-color: dodgerblue;
    border-style: solid;
}

#pie ul{
    list-style: none;
}

#pie strong{
    font-size: 20px;
}

#pie .ciudad{
    padding: 10px;
    padding-top: 20px;
    color: dodgerblue;

}

#pie li > ul{
    color: dodgerblue;
}

main{
    background-color: silver;
    border-width: 3px;
    border-style: solid;
    border-color: dodgerblue;
    padding: 1.5%;
}

/* main de catalogo.html */

.catal_libros{
    display: flex;
    flex-wrap: wrap;
    font-size: 90%;
    color: blue;
}

.catal_libros p{
    font-family: fantasy;
    font-size: 90%;
    color: darkslategray;
}

.catal_libros input{
    background-color: blue;
    border-color: blue;
	color: white;
    margin-left: 30%;
}

.catal_libros img{
    float: center;
    margin: 20px;
}

.catal_libros section{
    margin: 40px;
}

.catal_libros h2,
.catal_libros p{
    margin-left: 15%;
    clear: both;
}

.catal_libros::after{
    clear: both;
}

/* main de busqueda.html */

.busqueda_libro h2{
    padding-left: 1.5%;
}

.busqueda_libro label{
    display: block;
    padding-left: 1.5%;
}

.busqueda_libro input,
.busqueda_libro select{
    background-color: blue;
    border-color: blue;
	color: white;
    margin: 1.5%;
}

.busqueda_libro::after{
    clear: both;
}

/* main de tienda.html */

.tienda{
    padding: 2%;
}

.tienda caption{
    font-size: 180%;
    color: blue;
    margin-bottom: 2%;
}

.tienda th{
    background-color: dodgerblue;
    color: white;
}

.tienda td:hover{
    background-color: dodgerblue;
    color: white;
}

/* main de login */

.logueo label{
    display: block;
    padding-left: 1.5%;
}

.logueo h2{
    padding-left: 1.5%;
}

.logueo input{
    background-color: blue;
    border-color: blue;
	color: white;
    margin: 1.5%;
}

/* main pedidos */

.pedidos{
    display: flex;
    padding: 3%;
}

.datos_cli label{
    margin: 3%;
    margin-top: 3.5%;
    margin-left: 60%;
    font-size: 130%;
}

.datos_libro{
    margin: 3%;
}

.datos_cli input{
    display: block;
    background-color: blue;
    border-color: blue;
	color: white;
    margin: 1.5%;
    margin-left: 60%;
    width: 110%;
}

.error{
    color: red;
}
